.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  background: var(--bg-main);
  transition: var(--transition);
}

/* ***Add New CSS */

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
  color: #e5e5e5;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateX(4px);
}

.menu-btn {
  cursor: pointer;
  transition: 0.2s ease;
}

.menu-btn:hover {
  transform: scale(1.1);
}

.nav-right svg {
  cursor: pointer;
  transition: 0.2s ease;
}

.nav-right svg:hover {
  color: #ff0000;
  transform: scale(1.1);
}

