
.sidebar {
  width: 230px;
  background: var(--bg-secondary);
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  border-right: 1px solid #2a2a2a;
}

.sidebar.collapsed {
  width: 75px;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: var(--text-secondary);
  transition: var(--transition);
}

.sidebar a span:first-child {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar a:hover {
  background: #2a2a2a;
  color: white;
}

.sidebar.collapsed a span:first-child {
  margin-right: 0;
  width: 100%;
  text-align: center;
}